* {
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}

main {
    margin-top: 20px;
    margin-left: 20px;
}

/* header  */
.navbar {
    background-color: #333;
}

.navbar a {
    font-family: 'Overpass', sans-serif;
    color: white;
    font-size: large;
}

.navbar a:hover {
    color: rgb(235, 235, 235);
}
   
.nav.justify-content-start li a {
    text-decoration: none;
    color: white;
    font-family: 'Overpass', sans-serif;
}
 
.nav.justify-content-start li a:hover {
    color: rgb(235, 235, 235);
}

form {
    margin-right: 20px;
    text-align: left;
    
}

button {
    background-color: #720000;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(39, 162, 255);
}

input {
    width: 80%;
    padding: 15px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}