    <header>
        <nav class="navbar">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img src="{{ url_for('static', filename='LOGO KABUUTA.jpg') }}" alt="Logo" width="50" height="54" 
              class="d-inline-block align-text-middle" style="border-radius: 5px;" href="/index">
              Kabuuta Ask
            </a>
    
            <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link active" href="/index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Qas">Sistem Tanya Jawab</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Artikel">Artikel</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/AboutUs">About Us</a>
              </li>
            </ul>
          </div>
        </nav>
    </header>